a {
  color: #3584e4;
}

#ic_main
{
  font-family: monospace;
}

#ic_header
{
  height: 2em;
  background-color: #303030;
  color: #ffffff;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 0.25em;
  padding-right: 0.25em;
}

#ic_content
{
  flex: 1;
  margin: 1em;
  overflow: auto;

  display: flex;
}

img.ic_header_logo
{
  filter: invert(100%);
  margin-right: 0.5em;
}

span.ic_logo
{
  display: flex;
  align-items: center;
}
span.ic_empty
{
  flex: 1;
}
span.ic_profile_links > a
{
  color: #ff9933;
}

div.ic_login_form_container
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.ic_login_form
{

}

p.ic_login_error_message
{
  margin-bottom: 2em;
  font-style: italic;
}

form.ic_login
{
  width: 32em;
  display: grid;
  grid-template-columns: 6em; 1fr;
  grid-gap: 16px;
}

form.ic_login > label.ic_login_username_label
{
  grid-column: 1;
  grid-row: 1;
}

form.ic_login > label.ic_login_password_label
{
  grid-column: 1;
  grid-row: 2;
}

form.ic_login > input.ic_login_username
{
  grid-column: 2;
  grid-row: 1;
}

form.ic_login > input.ic_login_password
{
  grid-column: 2;
  grid-row: 2;
}

form.ic_login > input.ic_login_submit
{
  height: 1.8em;
  grid-column: 2;
  grid-row: 3;
}

table.ic_tickets
{
  width: 100%;
  border-collapse: collapse;
}
table.ic_tickets th
{
  border: 1px #aaaaaa solid;
  padding: 0.5em;
}
table.ic_tickets td
{
  border: 1px #aaaaaa solid;
  padding: 0.5em;
}
table.ic_tickets thead
{
  height: 2em;
}
table.ic_tickets tr
{

}

.ic_ticket_id
{
  text-align: left;
}
.ic_ticket_title
{
  text-align: left;
}
.ic_ticket_time_created
{
  text-align: right;
  padding-right: 1em;
}
.ic_ticket_time_updated
{
  text-align: right;
}

table.ic_tickets th.ic_ticket_id
{
  width: 8em;
}
table.ic_tickets th.ic_ticket_time_created
{
  width: 0;
}
table.ic_tickets th.ic_ticket_time_updated
{
  width: 0;
}
